@model FinancialCrmWeb.Models.Bank

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bank</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankBalance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BankId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
